<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-init-payment-param-heading" jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.home.createOrEditLabel">Create or edit a Init Payment Param</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.merchantId" for="field_merchantId">Merchant Id</label>
                    <input type="text" class="form-control" name="merchantId" id="field_merchantId"
                           formControlName="merchantId"/>
                    <div *ngIf="editForm.get('merchantId').invalid && (editForm.get('merchantId').dirty || editForm.get('merchantId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('merchantId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('merchantId').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 32 }">
                        This field cannot be longer than 32 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.orderId" for="field_orderId">Order Id</label>
                    <input type="text" class="form-control" name="orderId" id="field_orderId"
                           formControlName="orderId"/>
                    <div *ngIf="editForm.get('orderId').invalid && (editForm.get('orderId').dirty || editForm.get('orderId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('orderId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('orderId').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 128 }">
                        This field cannot be longer than 128 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.userId" for="field_userId">User Id</label>
                    <input type="text" class="form-control" name="userId" id="field_userId"
                           formControlName="userId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.accountId" for="field_accountId">Account Id</label>
                    <input type="text" class="form-control" name="accountId" id="field_accountId"
                           formControlName="accountId"/>
                    <div *ngIf="editForm.get('accountId').invalid && (editForm.get('accountId').dirty || editForm.get('accountId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('accountId').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 125 }">
                        This field cannot be longer than 125 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.ammount" for="field_ammount">Ammount</label>
                    <input type="number" class="form-control" name="ammount" id="field_ammount"
                           formControlName="ammount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.fee" for="field_fee">Fee</label>
                    <input type="number" class="form-control" name="fee" id="field_fee"
                           formControlName="fee"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.exponent" for="field_exponent">Exponent</label>
                    <input type="number" class="form-control" name="exponent" id="field_exponent"
                           formControlName="exponent"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.purchaseShortDesc" for="field_purchaseShortDesc">Purchase Short Desc</label>
                    <input type="text" class="form-control" name="purchaseShortDesc" id="field_purchaseShortDesc"
                           formControlName="purchaseShortDesc"/>
                    <div *ngIf="editForm.get('purchaseShortDesc').invalid && (editForm.get('purchaseShortDesc').dirty || editForm.get('purchaseShortDesc').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('purchaseShortDesc').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.purchaseLongDesc" for="field_purchaseLongDesc">Purchase Long Desc</label>
                    <input type="text" class="form-control" name="purchaseLongDesc" id="field_purchaseLongDesc"
                           formControlName="purchaseLongDesc"/>
                    <div *ngIf="editForm.get('purchaseLongDesc').invalid && (editForm.get('purchaseLongDesc').dirty || editForm.get('purchaseLongDesc').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('purchaseLongDesc').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 125 }">
                        This field cannot be longer than 125 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.payment" for="field_payment">Payment</label>
                    <select class="form-control" id="field_payment" name="payment" formControlName="payment">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentOption.id === editForm.get('payment').value?.id ? editForm.get('payment').value : paymentOption" *ngFor="let paymentOption of payments; trackBy: trackPaymentById">{{paymentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
