<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="initPaymentParam">
            <h2><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.detail.title">Init Payment Param</span> {{initPaymentParam.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.merchantId">Merchant Id</span></dt>
                <dd>
                    <span>{{initPaymentParam.merchantId}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.orderId">Order Id</span></dt>
                <dd>
                    <span>{{initPaymentParam.orderId}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.userId">User Id</span></dt>
                <dd>
                    <span>{{initPaymentParam.userId}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.accountId">Account Id</span></dt>
                <dd>
                    <span>{{initPaymentParam.accountId}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.ammount">Ammount</span></dt>
                <dd>
                    <span>{{initPaymentParam.ammount}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.fee">Fee</span></dt>
                <dd>
                    <span>{{initPaymentParam.fee}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.exponent">Exponent</span></dt>
                <dd>
                    <span>{{initPaymentParam.exponent}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.purchaseShortDesc">Purchase Short Desc</span></dt>
                <dd>
                    <span>{{initPaymentParam.purchaseShortDesc}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.purchaseLongDesc">Purchase Long Desc</span></dt>
                <dd>
                    <span>{{initPaymentParam.purchaseLongDesc}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.payment">Payment</span></dt>
                <dd>
                    <div *ngIf="initPaymentParam.payment">
                        <a [routerLink]="['/payment', initPaymentParam.payment?.id, 'view']">{{initPaymentParam.payment?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/init-payment-param', initPaymentParam.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
