<div>
    <h2 id="page-heading">
        <span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.home.title">Init Payment Params</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-init-payment-param" [routerLink]="['/init-payment-param/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.home.createLabel">
            Create a new Init Payment Param
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="initPaymentParams?.length === 0">
        <span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.home.notFound">No initPaymentParams found</span>
    </div>
    <div class="table-responsive" *ngIf="initPaymentParams?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.merchantId">Merchant Id</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.orderId">Order Id</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.userId">User Id</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.accountId">Account Id</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.ammount">Ammount</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.fee">Fee</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.exponent">Exponent</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.purchaseShortDesc">Purchase Short Desc</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.purchaseLongDesc">Purchase Long Desc</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentParam.payment">Payment</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let initPaymentParam of initPaymentParams ;trackBy: trackId">
                <td><a [routerLink]="['/init-payment-param', initPaymentParam.id, 'view' ]">{{initPaymentParam.id}}</a></td>
                <td>{{initPaymentParam.merchantId}}</td>
                <td>{{initPaymentParam.orderId}}</td>
                <td>{{initPaymentParam.userId}}</td>
                <td>{{initPaymentParam.accountId}}</td>
                <td>{{initPaymentParam.ammount}}</td>
                <td>{{initPaymentParam.fee}}</td>
                <td>{{initPaymentParam.exponent}}</td>
                <td>{{initPaymentParam.purchaseShortDesc}}</td>
                <td>{{initPaymentParam.purchaseLongDesc}}</td>
                <td>
                    <div *ngIf="initPaymentParam.payment">
                        <a [routerLink]="['/payment', initPaymentParam.payment?.id, 'view' ]" >{{initPaymentParam.payment?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/init-payment-param', initPaymentParam.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/init-payment-param', initPaymentParam.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/init-payment-param', { outlets: { popup: initPaymentParam.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
