<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-init-payment-order-param-heading" jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentOrderParam.home.createOrEditLabel">Create or edit a Init Payment Order Param</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentOrderParam.paramName" for="field_paramName">Param Name</label>
                    <input type="text" class="form-control" name="paramName" id="field_paramName"
                           formControlName="paramName"/>
                    <div *ngIf="editForm.get('paramName').invalid && (editForm.get('paramName').dirty || editForm.get('paramName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paramName').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 32 }">
                        This field cannot be longer than 32 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentOrderParam.paramValue" for="field_paramValue">Param Value</label>
                    <input type="text" class="form-control" name="paramValue" id="field_paramValue"
                           formControlName="paramValue"/>
                    <div *ngIf="editForm.get('paramValue').invalid && (editForm.get('paramValue').dirty || editForm.get('paramValue').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paramValue').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 128 }">
                        This field cannot be longer than 128 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentOrderParam.initPaymentParam" for="field_initPaymentParam">Init Payment Param</label>
                    <select class="form-control" id="field_initPaymentParam" name="initPaymentParam" formControlName="initPaymentParam">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="initPaymentParamOption.id === editForm.get('initPaymentParam').value?.id ? editForm.get('initPaymentParam').value : initPaymentParamOption" *ngFor="let initPaymentParamOption of initpaymentparams; trackBy: trackInitPaymentParamById">{{initPaymentParamOption.purchaseShortDesc}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
