<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="initPaymentOrderParam">
            <h2><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentOrderParam.detail.title">Init Payment Order Param</span> {{initPaymentOrderParam.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentOrderParam.paramName">Param Name</span></dt>
                <dd>
                    <span>{{initPaymentOrderParam.paramName}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentOrderParam.paramValue">Param Value</span></dt>
                <dd>
                    <span>{{initPaymentOrderParam.paramValue}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentOrderParam.initPaymentParam">Init Payment Param</span></dt>
                <dd>
                    <div *ngIf="initPaymentOrderParam.initPaymentParam">
                        <a [routerLink]="['/init-payment-param', initPaymentOrderParam.initPaymentParam?.id, 'view']">{{initPaymentOrderParam.initPaymentParam?.purchaseShortDesc}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/init-payment-order-param', initPaymentOrderParam.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
