<div>
    <h2 id="page-heading">
        <span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentOrderParam.home.title">Init Payment Order Params</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-init-payment-order-param" [routerLink]="['/init-payment-order-param/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentOrderParam.home.createLabel">
            Create a new Init Payment Order Param
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="initPaymentOrderParams?.length === 0">
        <span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentOrderParam.home.notFound">No initPaymentOrderParams found</span>
    </div>
    <div class="table-responsive" *ngIf="initPaymentOrderParams?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentOrderParam.paramName">Param Name</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentOrderParam.paramValue">Param Value</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroInitPaymentOrderParam.initPaymentParam">Init Payment Param</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let initPaymentOrderParam of initPaymentOrderParams ;trackBy: trackId">
                <td><a [routerLink]="['/init-payment-order-param', initPaymentOrderParam.id, 'view' ]">{{initPaymentOrderParam.id}}</a></td>
                <td>{{initPaymentOrderParam.paramName}}</td>
                <td>{{initPaymentOrderParam.paramValue}}</td>
                <td>
                    <div *ngIf="initPaymentOrderParam.initPaymentParam">
                        <a [routerLink]="['/init-payment-param', initPaymentOrderParam.initPaymentParam?.id, 'view' ]" >{{initPaymentOrderParam.initPaymentParam?.purchaseShortDesc}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/init-payment-order-param', initPaymentOrderParam.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/init-payment-order-param', initPaymentOrderParam.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/init-payment-order-param', { outlets: { popup: initPaymentOrderParam.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
