<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-payment-heading" jhiTranslate="pgapaygwApp.pgapaymicroPayment.home.createOrEditLabel">Create or edit a Payment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroPayment.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="NEW">{{'pgapaygwApp.PaymentStatus.NEW' | translate}}</option>
                        <option value="COMPLETE">{{'pgapaygwApp.PaymentStatus.COMPLETE' | translate}}</option>
                        <option value="ERROR">{{'pgapaygwApp.PaymentStatus.ERROR' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('status').invalid && (editForm.get('status').dirty || editForm.get('status').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroPayment.pgaTrxId" for="field_pgaTrxId">Pga Trx Id</label>
                    <input type="text" class="form-control" name="pgaTrxId" id="field_pgaTrxId"
                           formControlName="pgaTrxId"/>
                    <div *ngIf="editForm.get('pgaTrxId').invalid && (editForm.get('pgaTrxId').dirty || editForm.get('pgaTrxId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pgaTrxId').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 32 }">
                        This field cannot be longer than 32 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroPayment.resultCode" for="field_resultCode">Result Code</label>
                    <input type="number" class="form-control" name="resultCode" id="field_resultCode"
                           formControlName="resultCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroPayment.extResultCode" for="field_extResultCode">Ext Result Code</label>
                    <input type="text" class="form-control" name="extResultCode" id="field_extResultCode"
                           formControlName="extResultCode"/>
                    <div *ngIf="editForm.get('extResultCode').invalid && (editForm.get('extResultCode').dirty || editForm.get('extResultCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('extResultCode').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 32 }">
                        This field cannot be longer than 32 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroPayment.rrn" for="field_rrn">Rrn</label>
                    <input type="text" class="form-control" name="rrn" id="field_rrn"
                           formControlName="rrn"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroPayment.transactionDt" for="field_transactionDt">Transaction Dt</label>
                    <div class="d-flex">
                        <input id="field_transactionDt" type="datetime-local" class="form-control" name="transactionDt" formControlName="transactionDt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroPayment.cardHolder" for="field_cardHolder">Card Holder</label>
                    <input type="text" class="form-control" name="cardHolder" id="field_cardHolder"
                           formControlName="cardHolder"/>
                    <div *ngIf="editForm.get('cardHolder').invalid && (editForm.get('cardHolder').dirty || editForm.get('cardHolder').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cardHolder').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 26 }">
                        This field cannot be longer than 26 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroPayment.authCode" for="field_authCode">Auth Code</label>
                    <input type="text" class="form-control" name="authCode" id="field_authCode"
                           formControlName="authCode"/>
                    <div *ngIf="editForm.get('authCode').invalid && (editForm.get('authCode').dirty || editForm.get('authCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('authCode').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroPayment.pan" for="field_pan">Pan</label>
                    <input type="text" class="form-control" name="pan" id="field_pan"
                           formControlName="pan"/>
                    <div *ngIf="editForm.get('pan').invalid && (editForm.get('pan').dirty || editForm.get('pan').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pan').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 19 }">
                        This field cannot be longer than 19 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroPayment.fullAuth" for="field_fullAuth">Full Auth</label>
                    <input type="checkbox" class="form-control" name="fullAuth" id="field_fullAuth"
                           formControlName="fullAuth"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pgapaygwApp.pgapaymicroPayment.paymentcard" for="field_paymentcard">Paymentcard</label>
                    <select class="form-control" id="field_paymentcard" name="paymentcard" formControlName="paymentcard">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentCardOption.id === editForm.get('paymentcard').value?.id ? editForm.get('paymentcard').value : paymentCardOption" *ngFor="let paymentCardOption of paymentcards; trackBy: trackPaymentCardById">{{paymentCardOption.cardId}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
