<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="payment">
            <h2><span jhiTranslate="pgapaygwApp.pgapaymicroPayment.detail.title">Payment</span> {{payment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroPayment.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'pgapaygwApp.PaymentStatus.' + payment.status}}">{{payment.status}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroPayment.pgaTrxId">Pga Trx Id</span></dt>
                <dd>
                    <span>{{payment.pgaTrxId}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroPayment.resultCode">Result Code</span></dt>
                <dd>
                    <span>{{payment.resultCode}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroPayment.extResultCode">Ext Result Code</span></dt>
                <dd>
                    <span>{{payment.extResultCode}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroPayment.rrn">Rrn</span></dt>
                <dd>
                    <span>{{payment.rrn}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroPayment.transactionDt">Transaction Dt</span></dt>
                <dd>
                    <span>{{payment.transactionDt}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroPayment.cardHolder">Card Holder</span></dt>
                <dd>
                    <span>{{payment.cardHolder}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroPayment.authCode">Auth Code</span></dt>
                <dd>
                    <span>{{payment.authCode}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroPayment.pan">Pan</span></dt>
                <dd>
                    <span>{{payment.pan}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroPayment.fullAuth">Full Auth</span></dt>
                <dd>
                    <span>{{payment.fullAuth}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroPayment.paymentcard">Paymentcard</span></dt>
                <dd>
                    <div *ngIf="payment.paymentcard">
                        <a [routerLink]="['/payment-card', payment.paymentcard?.id, 'view']">{{payment.paymentcard?.cardId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment', payment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
