<div>
    <h2 id="page-heading">
        <span jhiTranslate="pgapaygwApp.pgapaymicroPaymentCard.home.title">Payment Cards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment-card" [routerLink]="['/payment-card/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pgapaygwApp.pgapaymicroPaymentCard.home.createLabel">
            Create a new Payment Card
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="paymentCards?.length === 0">
        <span jhiTranslate="pgapaygwApp.pgapaymicroPaymentCard.home.notFound">No paymentCards found</span>
    </div>
    <div class="table-responsive" *ngIf="paymentCards?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroPaymentCard.userId">User Id</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroPaymentCard.cardId">Card Id</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroPaymentCard.expireDt">Expire Dt</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.pgapaymicroPaymentCard.requrrent">Requrrent</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paymentCard of paymentCards ;trackBy: trackId">
                <td><a [routerLink]="['/payment-card', paymentCard.id, 'view' ]">{{paymentCard.id}}</a></td>
                <td>{{paymentCard.userId}}</td>
                <td>{{paymentCard.cardId}}</td>
                <td>{{paymentCard.expireDt}}</td>
                <td>{{paymentCard.requrrent}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/payment-card', paymentCard.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/payment-card', paymentCard.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/payment-card', { outlets: { popup: paymentCard.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
