<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paymentCard">
            <h2><span jhiTranslate="pgapaygwApp.pgapaymicroPaymentCard.detail.title">Payment Card</span> {{paymentCard.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroPaymentCard.userId">User Id</span></dt>
                <dd>
                    <span>{{paymentCard.userId}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroPaymentCard.cardId">Card Id</span></dt>
                <dd>
                    <span>{{paymentCard.cardId}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroPaymentCard.expireDt">Expire Dt</span></dt>
                <dd>
                    <span>{{paymentCard.expireDt}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.pgapaymicroPaymentCard.requrrent">Requrrent</span></dt>
                <dd>
                    <span>{{paymentCard.requrrent}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment-card', paymentCard.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
