<div>
    <h2 id="page-heading">
        <span jhiTranslate="pgapaygwApp.merchant.home.title">Merchants</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-merchant" [routerLink]="['/merchant/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pgapaygwApp.merchant.home.createLabel">
            Create a new Merchant
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="merchants?.length === 0">
        <span jhiTranslate="pgapaygwApp.merchant.home.notFound">No merchants found</span>
    </div>
    <div class="table-responsive" *ngIf="merchants?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.merchant.merchid">Merchid</span></th>
            <th scope="col" ><span jhiTranslate="pgapaygwApp.merchant.name">Name</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let merchant of merchants ;trackBy: trackId">
                <td><a [routerLink]="['/merchant', merchant.id, 'view' ]">{{merchant.id}}</a></td>
                <td>{{merchant.merchid}}</td>
                <td>{{merchant.name}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/merchant', merchant.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/merchant', merchant.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/merchant', { outlets: { popup: merchant.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
