<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="merchant">
            <h2><span jhiTranslate="pgapaygwApp.merchant.detail.title">Merchant</span> {{merchant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pgapaygwApp.merchant.merchid">Merchid</span></dt>
                <dd>
                    <span>{{merchant.merchid}}</span>
                </dd>
                <dt><span jhiTranslate="pgapaygwApp.merchant.name">Name</span></dt>
                <dd>
                    <span>{{merchant.name}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/merchant', merchant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
